{{define "player"}}
<div id="audio-player-container">
    <audio src="https://assets.codepen.io/4358584/Anitek_-_Komorebi.mp3" id="audio" preload="metadata" loop></audio>
    <canvas id="canvas"></canvas>
    <button id="play-icon"></button>
    
    <div class="play_button">
      <span class="item1"></span>
      <span class="item2"></span>
      <span class="item3"></span>
      <span class="item4"></span>
      <span class="item5"></span>
    </div>

    <div class="stop_button">
      <span class="item1"></span>
      <span class="item2"></span>
      <span class="item3"></span>
      <span class="item4"></span>
      <span class="item5"></span>
    </div>

    <!--<span id="duration" class="time">0:00</span>-->
    <input type="range" id="volume-slider" max="100" value="100">
    <button id="mute-icon"></button>

  </div>
  <div id="audio-player-container__volume-level">
    <output id="volume-output">100</output>
  </div>
{{end}}