* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
}

html, body {
    height: 100%;

}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/gifs/1.gif);
    /*transition: background-image 2s ease-in-out;*/
    background-size: cover;
    overflow: hidden;
    animation-name: changer_bgi;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.nav-wrapper_header {
    color: #fff;
    background-color: #2f2f2f;
    opacity: 0%;
}

.material-symbols-outlined {
    line-height: unset;
    padding: 0 15px;
}

.main_body-player{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.main_body-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 15px;
}

.body_line{
  display: flexbox;
}
.body_line__top {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    height: 500px;
}
.body_line__right {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  height: 500px;
}
.body_line__botton {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  height: 500px;
}
.body_line__right {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  height: 500px;
}

.main_body__text-editor {
    width: 70%;
    max-width: 700px;
}

.main_body__text-editor textarea {
    background-color: #2d2d2d;
    opacity: 50%;
    color: #d2d2d2;
    padding: 10px 10px;
    border-radius: 6px;
    height: 350px;
    max-height: 450px;
    resize: none;
}

main {
    margin-bottom: auto;
    min-height: calc(100vh - 90px);
    overflow: auto;
}

nav {
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 60px;
    color: #6A6C6F;
}



footer {
    border-top: 1px solid #2d2d2d;
    padding-bottom: 15px;
    background: #2d2d2d;
    opacity: 60%;
    height: 30px;
    color: #6A6C6F;
    text-align: center;
}